/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TIPOGRAFÍA Y CUERPO */
body {
  font-family: font-family: "Courier New", Courier, monospace;
  background: #fff;
  color: #111;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 60px;
}

/* ENCABEZADO Y MENÚ */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  padding: 1em 2em;
  border-bottom: 1px solid #eee;
}

nav ul.main-menu {
  display: flex;
  list-style: none;
  gap: 2em;
}

nav ul.main-menu > li > a {
  text-decoration: none;
  color: #111;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: color 0.2s ease-in-out;
}

nav ul.main-menu > li > a:hover {
  color: #888;
}

/* Imágenes snake */
.snake-img {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 0; /* por debajo del menú */
  transition: transform 0.1s linear;
}

.snake-img img {
  border-radius: 2px;
  pointer-events: none;
  user-select: none;
}
